#!/usr/bin/make -f


NC_BUILD_ROOT=$(CURDIR)/debian/nagast-client
NS_BUILD_ROOT=$(CURDIR)/debian/nagast-server
NN_BUILD_ROOT=$(CURDIR)/debian/nagast-node
install:
	rm -rf ${NC_BUILD_ROOT}
	mkdir -p ${NC_BUILD_ROOT}/usr/sbin/
	install -m 755 sbin/nagastc ${NC_BUILD_ROOT}/usr/sbin/nagastc

	rm -rf ${NS_BUILD_ROOT}
	mkdir -p ${NS_BUILD_ROOT}/usr/sbin/
	install -m 755 sbin/nagast-server ${NS_BUILD_ROOT}/usr/sbin/nagast-server
	mkdir -p ${NS_BUILD_ROOT}/usr/share/nagast/samples/
	cp samples/* ${NS_BUILD_ROOT}/usr/share/nagast/samples/
	mkdir -p ${NS_BUILD_ROOT}/etc/default
	install -m 640 default/nagast-server ${NS_BUILD_ROOT}/etc/default/nagast-server
	mkdir -p ${NS_BUILD_ROOT}/etc/init/
	mkdir -p ${NS_BUILD_ROOT}/etc/init.d/
	install -m 640 init/nagast-server.conf ${NS_BUILD_ROOT}/etc/init/nagast-server.conf
	install -m 755 init/nagast-server.sysvinit ${NS_BUILD_ROOT}/etc/init.d/nagast-server
	mkdir -p ${NS_BUILD_ROOT}/usr/share/asterisk/agi-bin/
	install -m 750 agi-bin/nagios.agi ${NS_BUILD_ROOT}/usr/share/asterisk/agi-bin/nagios.agi
	mkdir -p ${NS_BUILD_ROOT}/var/spool/nagiosmessages/ack
	mkdir -p ${NS_BUILD_ROOT}/var/spool/nagiosmessages/new
	mkdir -p ${NS_BUILD_ROOT}/var/spool/nagiosmessages/tmp

	rm -rf ${NN_BUILD_ROOT}
	mkdir -p ${NN_BUILD_ROOT}/usr/sbin/
	install -m 755 sbin/nagast-node ${NN_BUILD_ROOT}/usr/sbin/nagast-node
	mkdir -p ${NN_BUILD_ROOT}/etc/default
	install -m 640 default/nagast-node ${NN_BUILD_ROOT}/etc/default/nagast-node
	mkdir -p ${NN_BUILD_ROOT}/etc/nagios3/conf.d/
	install -m 640 nagios/nagast.cfg ${NN_BUILD_ROOT}/etc/nagios3/conf.d/nagast.cfg
	mkdir -p ${NN_BUILD_ROOT}/etc/init/
	mkdir -p ${NS_BUILD_ROOT}/etc/init.d/
	install -m 640 init/nagast-node.conf ${NN_BUILD_ROOT}/etc/init/nagast-node.conf
	install -m 755 init/nagast-node.sysvinit ${NS_BUILD_ROOT}/etc/init.d/nagast-node

build:
binary-indep:

binary-arch binary: build install
	if [ -d debian/tmp ] ; then dh_install --sourcedir=debian/tmp ; fi
	dh_installdocs
	dh_installdeb
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build binary binary-arch binary-indep clean install
