#!/usr/bin/make -f


NC_BUILD_ROOT=$(CURDIR)/debian/nagast-client
NS_BUILD_ROOT=$(CURDIR)/debian/nagast-server
install:
	rm -rf ${NC_BUILD_ROOT}
	mkdir -p ${NC_BUILD_ROOT}/usr/sbin/
	install -m 755 sbin/nagastc ${NC_BUILD_ROOT}/usr/sbin/nagastc

	rm -rf ${NS_BUILD_ROOT}
	mkdir -p ${NS_BUILD_ROOT}/usr/sbin/
	install -m 755 sbin/nagastd ${NS_BUILD_ROOT}/usr/sbin/nagastd
	mkdir -p ${NS_BUILD_ROOT}/usr/share/nagast/samples/
	cp samples/* ${NS_BUILD_ROOT}/usr/share/nagast/samples/
	mkdir -p ${NS_BUILD_ROOT}/etc/init/
	install -m 640 init/nagastd-master.conf ${NS_BUILD_ROOT}/etc/init/nagastd-master.conf
	install -m 640 init/nagastd-node.conf ${NS_BUILD_ROOT}/etc/init/nagastd-node.conf
	mkdir -p ${NS_BUILD_ROOT}/usr/share/asterisk/agi-bin/
	install -m 750 agi-bin/nagios.agi ${NS_BUILD_ROOT}/usr/share/asterisk/agi-bin/nagios.agi
	mkdir -p ${NS_BUILD_ROOT}/var/spool/nagiosmessages/{ack,new,tmp}

build:
binary-indep:

binary-arch binary: build install
	if [ -d debian/tmp ] ; then dh_install --sourcedir=debian/tmp ; fi
	dh_installdocs
	dh_installdeb
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build binary binary-arch binary-indep clean install
